GENERIC_TIMEZONE=America/Argentina/Buenos_Aires
N8N_HOST=0.0.0.0
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_EDITOR_BASE_URL=http://localhost:5690
WEBHOOK_URL=http://localhost:5690/
N8N_USER_MANAGEMENT_DISABLED=true
N8N_DIAGNOSTICS_ENABLED=false
N8N_RUNNERS_ENABLED=true
