AUTH_JWT_SECRET=class17-jwt-secret-key
AUTH_ACCESS_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_TOKEN_EXPIRES_IN=7d
AUTH_DEMO_USER_ID=usr-1
AUTH_DEMO_USERNAME=carlos.gardel
AUTH_DEMO_DISPLAY_NAME=Carlos Gardel
AUTH_DEMO_ROLE=student
AUTH_DEMO_PASSWORD=123456
APP_PORT=5001
CORS_ALLOWED_ORIGIN=http://localhost:5300
DB_TYPE=sqlite
DB_DATABASE=./database/class19-chat.db
